﻿// range of responsive
$r-responsive: 991px;
// background toggle
$bg-toggle: #8b0304;
// background toggle when hover
$bg-toggle-hover: #8b0304;
// transition
$trans: all .3s ease;
// width toggle
$w-toggle: 250px;
// padding toggle
$p-toggle: 12px 20px 12px 34px;
// font size toggle
$fs-toggle: 18px;
// color toggle
$c-toggle: #fff;
// icon toggle
$i-toggle: '\f0c9';
// left icon toggle
$l-i-toggle: 10px;
// color icon toggle
$c-i-toggle: #fff;
// top ul main
$t-ul-main: 48px;
// width li
$w-li: 250px;
// background li
$bg-li: #8b0304;
// background li when hover
$bg-li-hover: #7d0304;
// padding a tag inside li
$p-a-in-li: 10px 20px;
// color a tag inside li
$c-a-in-li: #fff;
// color a tag inside li when hover
$c-a-in-li-hover: #faa519;
// color border
$c-border: #a10c0d;