﻿@import "config";

// reset
li { list-style-type: none }
ul { margin: 0; padding: 0 }
a:hover { text-decoration: none }

// code
#x-verMenu {
  .toggle {
    position: relative;
    display: block;
    background-color: $bg-toggle;
    padding: $p-toggle;
    font-size: $fs-toggle;
    color: $c-toggle;
    transition: $trans;
    width: $w-toggle;
    &:hover { background-color: $bg-toggle-hover }
    &:before {
      content: $i-toggle;
      position: absolute;
      font-family: FontAwesome;
      top: 50%;
      left: $l-i-toggle;
      transform: translateY(-50%);
      color: $c-i-toggle;
    }
  }
  & > ul { 
    position: absolute; 
    top: $t-ul-main;
    transform: translateY(50px);
    transition: $trans;
    visibility: hidden;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &.visible {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
    }
  }
  li {
    background-color: $bg-li;
    transition: $trans;
    width: $w-li;
    border-top: 1px solid $c-border;
    cursor: pointer;
    & > a {
      color: $c-a-in-li;
      transition: $trans;
      padding: $p-a-in-li;
      display: block;
    }
    &:hover {
      background-color: $bg-li-hover;
      & > a { color: $c-a-in-li-hover }
    }
  }
  .dropdown {
    position: relative;
    & > a { display: inline-block }
    & > ul {
      display: none;
    }
  }
}

@media only screen and (min-width: $r-responsive) {
  #x-verMenu {
    & > ul { 
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
    }
    .dropdown {
      &:hover {
        & > ul {
          visibility: visible;
          transform: translateX(0);
          opacity: 1;
        }
      }
      & > ul {
        display: block!important;
        position: absolute;
        left: 100%;
        top: 0;
        transition: $trans;
        visibility: hidden;
        transform: translateX(50px);
        opacity: 0;
        margin-left: 1px;
        padding-left: 6px;
      }
    }
  }
}