﻿@charset "UTF-8";
li {
  list-style-type: none; }

ul {
  margin: 0;
  padding: 0; }

a:hover {
  text-decoration: none; }

#x-verMenu .toggle {
  position: relative;
  display: block;
  background-color: #8b0304;
  padding: 12px 20px 12px 34px;
  font-size: 18px;
  color: #fff;
  transition: all 0.3s ease;
  width: 250px; }
  #x-verMenu .toggle:hover {
    background-color: #8b0304; }
  #x-verMenu .toggle:before {
    content: "";
    position: absolute;
    font-family: FontAwesome;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #fff; }

#x-verMenu > ul {
  position: absolute;
  top: 48px;
  transform: translateY(50px);
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #x-verMenu > ul.visible {
    transform: translateY(0);
    visibility: visible;
    opacity: 1; }

#x-verMenu li {
  background-color: #8b0304;
  transition: all 0.3s ease;
  width: 250px;
  border-top: 1px solid #a10c0d;
  cursor: pointer; }
  #x-verMenu li > a {
    color: #fff;
    transition: all 0.3s ease;
    padding: 10px 20px;
    display: block; }
  #x-verMenu li:hover {
    background-color: #7d0304; }
    #x-verMenu li:hover > a {
      color: #faa519; }

#x-verMenu .dropdown {
  position: relative; }
  #x-verMenu .dropdown > a {
    display: inline-block; }
  #x-verMenu .dropdown > ul {
    display: none; }

@media only screen and (min-width: 991px) {
  #x-verMenu > ul {
    transform: translateY(0);
    visibility: visible;
    opacity: 1; }
  #x-verMenu .dropdown:hover > ul {
    visibility: visible;
    transform: translateX(0);
    opacity: 1; }
  #x-verMenu .dropdown > ul {
    display: block !important;
    position: absolute;
    left: 100%;
    top: 0;
    transition: all 0.3s ease;
    visibility: hidden;
    transform: translateX(50px);
    opacity: 0;
    margin-left: 1px;
    padding-left: 6px; } }
